.container
  .columns-12
    %h3= @static_page.header
    %hr
      = simple_format @static_page.content
- if @static_page.permalink == 'car_wash_owner_info'
  %hr
  .container
    .columns-12
      = link_to "Скачать ПРЕЗЕНТАЦИЮ", static_page_path(@static_page, :format => 'pdf'), class: 'btn btn-lg btn-success'
    

