- if user_signed_in?
  = link_to content_tag(:h4, t('car_wash_logout')), destroy_user_session_path, :method => :delete
- elsif normal_user_signed_in?
  = link_to content_tag(:h4, t('normal_user_logout')), destroy_normal_user_session_path, :method => :delete
- else
  = link_to content_tag(:h4, t('login')), login_path
