- if user_signed_in?
  %li
    - if current_user.admin?
      = link_to t('admin_panel'), admin_path #edit_user_registration_path
    - else
      = link_to t('enter_cabinet'), edit_user_registration_path
- else
  %li
    = link_to t('sign_up'), new_user_registration_path
