- if user_signed_in?
  - if current_user.admin?
    = link_to content_tag(:h4, t('admin_panel')), admin_path
  - elsif current_user.client?
    = link_to content_tag(:h4, t('enter_cabinet')), edit_car_wash_path(current_user.car_wash)
  - else
    = link_to content_tag(:h4, current_user.email), user_path(current_user)
- else
  = link_to content_tag(:h4, t('sign_up')), new_user_registration_path
