%ul.nav.nav-pills.list-group
  %li= link_to t('.users'), admin_users_path, class: 'list-group-item'
  %li= link_to t('.adv'), admin_banners_path, class: 'list-group-item'
  %li= link_to t('.static_pages'), admin_static_pages_path, class: 'list-group-item'
  %li= link_to t('.car_washes'), admin_car_washes_path, class: 'list-group-item'
