= image_tag banner_url, class: "img-thumbnail banner", 'data-toggle' => 'tooltip', 'data-id' => banner.id, id: banner.id, title: 'Кликните для редактирования'
= render '/banners/modal', banner: banner, banner_url: banner_url, version: version, car_wash: car_wash
