%h4.text-center Выберите способ оплаты
.left-6#robokassa_link_wrapper
  %h5.text-center Электронными деньгами
  %p 
    Все электронные платежи производятся через систему
    = link_to 'Робокасса.', url_for('robokassa.ru'), id: 'robokassa'
    Вы будете перенаправлены на сайт платежной системы, где нужно будет просто следовать инструкциям.
  - pay_url = Robokassa.client.init_payment_url(@car_wash.payments.first.id, @car_wash.payments.first.amount, '', currency='', language='ru', email='', custom_options={car_wash_id: @car_wash.id})
  %p.text-center
    = link_to "Оплатить", pay_url, class: 'save_button'
.right-6#robokassa_link_wrapper
  %h5.text-center Счет на оплату
  %p
    Вы также можете оплатить наши услуги с рассчетного счета вашей организации.
    Перевод может совершаться в течение 5 банковских дней, для ускорения зачисления денежных средств на ваш счет вы можете прислать нам скан или фотографию квитанции на адрес support@moika-77.ru.
  %p.text-center
    = link_to "Сформировать счёт в pdf", new_car_wash_invoice_path, class: 'save_button'
