ymaps.ready(init);
var myMap;
cw_list = [];

function getCarWashes() {
  $.ajax('/car_washes', {
    dataType: "json",
    success: function(json) {
      json.forEach( function(row) {
        cw_list.push({coords: [row.lat, row.lon], id: row.id, address: row.address, title: row.title, signal: row.signal, url: row.url.slice(0,-5), contacts: row.contacts, services: row.services});
        }
      )}
  })
}

  getCarWashes();
function init(){
  myMap = new ymaps.Map ("map", {
      center: [55.76, 37.64],
      zoom: 10,
  });

  ymaps.option.presetStorage.add('my#red', {
  iconImageHref: "<%= asset_path('banner_red_small.png') %>"  });
  ymaps.option.presetStorage.add('my#green', {
  iconImageHref: "<%= asset_path('banner_green_small.png') %>"  });

  myMap.controls
      // Кнопка изменения масштаба.
      .add('zoomControl', { left: 5, top: 5 })
      // Список типов карты
      .add('typeSelector')
      // Стандартный набор кнопок
      .add('mapTools', { left: 35, top: 5 });

  var myBalloonContentBodyLayout = ymaps.templateLayoutFactory.createClass(
                  '<div>$[properties.body]</div>'
              );
  console.log(cw_list);
  cw_list.forEach(function (car_wash) {

    var myBalloonBody = (car_wash.signal) ?
      (
      '<h3>'
      + car_wash.title
      + '</h3>'
      + car_wash.address
      + '<br/>'
      + car_wash.contacts
      + '<br/>'
      + car_wash.services
      + '<br/>'
      + 'Пост занят'
      + '<br/>'
      + '<img src="assets/banner_green.png">'
      + '<br/>'
      + '<a href="'
      + car_wash.url
      + '">Перейти на страницу этой мойки</a>'
      ):
      (
      '<h3>'
      + car_wash.title
      + '</h3>'
      + car_wash.address
      + '<br/>'
      + car_wash.contacts
      + '<br/>'
      + car_wash.services
      + '<br/>'
      + 'Пост загружен'
      + '<br/>'
      + '<img src="assets/banner_red.png">'
      + '<br/>'
      + '<a href="'
      + car_wash.url
      + '">Перейти на страницу этой мойки</a>'
      );

      var timeNow = new Date;

      var myHintContent = (car_wash.signal) ?
        (
        '<h3>' + car_wash.title + '</h3>'
        + '<h5>' + car_wash.address + '</h5>'
        + '<h5>Время:' + timeNow.toLocaleTimeString() + '</h5>'
        + '<h5>Пост свободен</h5>'
        + '<img src="assets/banner_green.png">'
        ):
        ('<h3>' + car_wash.title + '</h3>' + '<br/>'
        + '<h5>' + car_wash.address + '</h5>'
        + '<h5>Время:' + timeNow.toLocaleTimeString() + '</h5>'
        + '<h5>Пост загружен</h5>'
        + '<img src="assets/banner_red.png">'
        );

    var coordinates = car_wash.coords,
      properties = {
        body: myBalloonBody,
        hintContent: myHintContent
      },
      options = {
        balloonContentBodyLayout : myBalloonContentBodyLayout,
        preset: (car_wash.signal) ?
          ('my#green'):
          ('my#red')
      },
      placemark = new ymaps.Placemark(coordinates, properties, options);

    myMap.geoObjects.add(placemark);

    //placemark.events.add('click', onClick);
  });
}
