// ---------------------------------------------------------------------------
// Imports

@import "compass";
@import "susy";
@import "sassy-buttons";
@import "blueprint/form";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width/2;
$container-style: magic;
$container-width: 95%;

//$show-grid-backgrounds  : true;
$show-grid-backgrounds  : false;

//alternative layout breakpoints
$phone_portrait: 1px 12 480px;
$phone_landscape: 481px 12 760px;
$tablet: 761px 12 899px;
$tablet900: 900px 12 1024px;
$computer: 1023px 12;


// ---------------------------------------------------------------------------

@mixin margin-padding-0 {
  margin: 0;
  padding: 0;
}

@mixin block-center {
  display: block;
  margin: 0 auto;
}

@mixin red-medium-button {
  padding: 3px 20px;
  background-color: #d70d0d;
  color: #fff;
  @include border-radius(5px, 5px);
}

// --------------------------------------------------------------------------
// colors

  $base-link-color: #555;
  $header-link-color: #0504aa;
  $header-link-hover-color: #0000ff;
  $car-wash-info-bg: #ececec;

// --------------------------------------------------------------------------
// base sizes

  $map-height: 1040px;
  $map-phone-height: 600px;

