@import "twitter/bootstrap";

#main_content {
  padding-top: 70px;
}

button.btn-primary {
  a {
    color: #fff;
  }
}

.flash.success {
  color: green;
}

.bordered {
  border: solid 1px #ddd;
}
img.banner {
  cursor: pointer;
}

ul#image-container> li {
  /*display: inline-block;
  zoom:1;
  *display: inline;*/
  list-style: none;

}
