@import "compass";
//@import "susy";

$footer-height: 105px;
$footer-bg: #333;
$footer-color: #fff;
//$border-nav: 1px solid #e7e7e7;
$border-nav: 1px solid #777;

html, body {
  height: 100%;
}
#map {
  border: 1px solid #000;
  width: 100%;
  height: 1110px;
  margin-bottom: 20px;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto (-$footer-height);
  /* Pad bottom by footer height */
  padding: 0 0 $footer-height;
}

/* Set the fixed height of the footer here */
#footer {
  height: $footer-height;
  background-color: $footer-bg;
  padding-top: 10px;
 .container {
    a,p {
      color: $footer-color;
    }
    img {
      padding-right: 10px;
    }
    p.copyright {
    }
  }
}
#logo_text {
  padding-bottom: 0px;
  //border-right:$border-nav;
  a.navbar-brand {
    h1 {
      margin-top: 5px;
    }
  }
}

#header {
  margin-bottom: 10px;
  #logo {
  }
  a#email {
    font-size: 9px;
  }
}

#header_nav {
  background: #ebebeb;
    //border: $border-nav;
  .col-lg-4, .col-lg-2, .col-lg-3 {
    //border-right:$border-nav;
    a {
      color: $navbar-default-color;
    }
  }
  .col-lg-3.no-border {
    border-right: none;
  }
}

@media (min-width: 768px) {
/* top row */
.col .well{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    background: #aaa;
    color: #fff;
    .panel {
      color: #000;
    }
}

/* bottom row */
.col-base{
    margin-top: -15px; /* cut off top portion of bottom wells */
    .well {
    background: #aaa;
    color: #fff;
  }
}
}

@media (max-width: 767px) {
.row.base{
    display:none;
}
}

.col-wrap{
    overflow: hidden;
}

#main-content {
}

#adv1 {
  border-top: $border-nav;
  border-bottom: $border-nav;

}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

fieldset#car-wash-edit {
  border: 1px solid #ccc;/*#e7e7e7;*/
  padding-bottom: 20px;
  legend {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
  }
}

#car-wash-signal {
  visibility: hidden;
}

#login {
  li {
    a {
      text-decoration: underline;
    }
  }
}

ul#car_wash_list {
  border: 1px solid #000;
  padding: 10px 0 10px 10px;
  list-style-type: none;
  li {
    padding: 5px 0;
    a {
    }
  }
}
