// ---------------------------------------------------------------------------
// Imports

@import "base";
@import "flowplayer/skin/minimalist";

/* -------------------------------------------------------------------------*/
/* Layout */

.text-center {
  text-align: center;
}

.container {
  @include container;
  @include susy-grid-background;
}

#header {
  #logo_left {
    @include span-columns(4,12);
  }
  #logo_right {
    .r_logo_img {
      @include span-columns(2,12);
      img {
        max-width:100%; 
        height:auto;
      }
    }
    .r_logo_img.omega{
      @include span-columns(2 omega,12);
      img {
        max-width:100%; 
        height:auto;
      }
    }
  }
}
.container#header_nav_wrapper {
    z-index: 1;
    background: #fff url("h_menu.png") 0 0px no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height: 73px;
    min-height: 73px;
  #header_nav {
    z-index: 10;
    //border: 1px solid #000;
    height: 25px;
    min-height: 25px;
    padding: 10px 0 0 0;

    //background-color: #ebebeb;
    #login {
      @include span-columns(2,12);
    }
    #registration {
      @include span-columns(2,12);
    }
    #social {
      @include span-columns(2,12);
    }
    #weather{
      @include span-columns(1,12);
    }
    #traffic {
      @include span-columns(1,12);
    }
    #datetime {
      @include span-columns(2,12);
    }
    #currency {
      @include span-columns(2 omega,12);
    }
  }
}

#adv1 {
  @include span-columns(12 omega,12);
  color: red;
}

.marketing {
  @include span-columns(4,12);
  img {
    max-width:100%; 
    height:auto;
  }
}
.marketing.omega {
  @include span-columns(4 omega,12);
  img {
    max-width:100%; 
    height:auto;
  }
}

#car_washes_left_list {
  @include span-columns(2,12);
}

#map_container {
  @include span-columns(10 omega,12);
}

#map {
  border: 1px solid #000;
  width: 100%;
  height: 1110px;
  margin-bottom: 20px;
}  

 .container#footer { 
  width: 100%;
  max-width: 100%;
  margin: 20px 0 0 0;
  padding: 0;
  border-bottom: 10px solid #8c8c8c;
  background-color: #333333;
  color: #fff;
  height: 105px;
  min-height: 105px;
  .mobile_apps {
    @include span-columns(2,12);
    margin: 12px 0;
    p {
      margin: 0;
      padding: 0;
    }
  }
  #other_footer_content {
    @include span-columns(8 omega,12);
    margin-top: 20px;
    ul#bottom_menu, ul#bottom_links {
      li {
        list-style: none;
        display: inline;
        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
    ul#bottom_menu {
      margin: 5px 0;
      li {
        margin: 0px 20px 0 0; 
        a {
        }
      }
    }
    ul#bottom_links {
      float: left;
      margin: 5px 0;
      li {
        margin: 0px 20px 0 0; 
        a {
          font-size: 12px;
        }
      }
    }
  }
}
