%h5
  Пользовательское соглашение сервиса Мойка-77.
%ol
  %li
    Общие положения
    %p
      1.1. ООО «Прогресс Мск» (далее, в лице:  интернет-сервис  «Мойка-77») предлагает владельцу автомойки (далее – Пользователь) - использовать свой сервис на условиях, изложенных в настоящем Пользовательском соглашении (далее — «Соглашение», «ПС»). Соглашение вступает в силу с момента выражения Пользователем согласия с его условиями в порядке, предусмотренном п. 1.3 Соглашения.
    %p
      1.2. Интернет-сервис «Мойка-77» предлагает Пользователям доступ к сервису для активного привлечения клиентов, включая Персональную страницу автомойки на которой размещено рекламное поле,  средства интеграции с социальными сетями, коммуникации, размещения и хранения рекламной информации (контента), интерактивная реклама в виде бегущей строки, два окна для трансляции  изображений с видеокамер в режиме онлайн;  возможность информирования клиента о загруженности поста автомойки в интерактивном режиме с выводом на Яндекс-карту.
    %p
      1.3. Начиная использовать сервис/его отдельные функции, либо пройдя процедуру регистрации, Пользователь считается принявшим условия Соглашения в полном объеме, без всяких оговорок и исключений. В случае несогласия Пользователя с какими-либо из положений Соглашения, Пользователь не в праве использовать сервис  Мойка-77. 
  %li
    Регистрация Пользователя. Учетная запись Пользователя
    %p
      2.1. Для того чтобы воспользоваться сервисами персональной страницей автомойки Пользователю необходимо пройти процедуру регистрации, в результате которой для Пользователя будет создана уникальная учетная запись.
    %p
      2.2. Для регистрации Пользователь обязуется предоставить достоверную и полную информацию о себе по вопросам, предлагаемым в форме регистрации, и поддерживать эту информацию в актуальном состоянии. 
    %p
      2.3.  При регистрации Пользователь самостоятельно выбирает себе логин (уникальное символьное имя учетной записи Пользователя) и пароль для доступа к учетной записи. 
  %li
    Условия использования Сервиса.
    %p
      3.1. Пользователь самостоятельно несет ответственность перед третьими лицами за свои действия, связанные с использованием Сервиса, в том числе, если такие действия приведут к нарушению прав и законных интересов третьих лиц, а также за соблюдение законодательства при использовании Сервиса.
    %p
      3.2. При использовании сервиса Пользователь не вправе:
      %ol
        %li
          3.2.1. загружать, посылать, передавать или любым другим способом размещать и/или распространять контент, который является незаконным, вредоносным, клеветническим, оскорбляет нравственность, демонстрирует (или является пропагандой) насилия и жестокости, нарушает права интеллектуальной собственности, пропагандирует ненависть и/или дискриминацию людей по расовому, этническому, половому, религиозному, социальному признакам, содержит оскорбления в адрес каких-либо лиц или организаций, содержит элементы (или является пропагандой) порнографии, детской эротики, представляет собой рекламу (или является пропагандой) услуг сексуального характера (в том числе под видом иных услуг), разъясняет порядок изготовления, применения или иного использования наркотических веществ или их аналогов, взрывчатых веществ или иного оружия;
        %li
          3.2.2. нарушать права третьих лиц, в том числе несовершеннолетних лиц и/или причинять им вреда в любой форме;
        %li
          3.2.3. загружать, посылать, передавать или любым другим способом размещать и/или распространять контент, при отсутствии прав на такие действия согласно законодательству или каким-либо договорным отношениям;
        %li
          3.2.4. нарушать нормальную работу веб-сайтов и сервисов Яндекса;
        %li
          3.2.5. размещать ссылки на ресурсы сети, содержание которых противоречит действующему законодательству РФ;
        %li
          3.2.6. содействовать действиям, направленным на нарушение ограничений и запретов, налагаемых Соглашением;
        %li
          3.2.7. другим образом нарушать нормы законодательства, в том числе нормы международного права.
    %p
      3.3. Пользователь обязуется  доводить клиентам достоверные сведения о загруженности автомойки и выводить данные сведения на Яндекс карту посредством «Блока управления». 
  %li
    Стоимость оказываемых услуг.
    %p
      4.1. Подключение к Сервису осуществляется бесплатно.
    %p
      4.2. Первые три месяца бесплатного пользования Сервисом с момента даты подключения.
    %p
      4.3. Тарифный план на 2013-2015гг. – 500 руб. в месяц. 6000 руб. за 12 месяцев.
    %p
      4.4. Оплата производится полностью за 12 месяцев.
    %p
      4.5. При первом подключении Пользователя,  оплата равна 15 месяцам использования Сервисом.

  %li
    Иные положения
    %p
      5.1. Настоящее Соглашение представляет собой договор между Пользователем и Сервисом.
    %p
      5.2. Настоящее Соглашение регулируется и толкуется в соответствии с законодательством Российской Федерации. 
