.marketing.banner
  =#image_tag  Banner.where(place: 'bottom_1').first.file.b_385_220.url, class: 'banner'
  = render 'slideshow'
.marketing.video
  %iframe(width="385" height="217" src="//www.youtube.com/embed/5f46y6u7HG0" frameborder="0" allowfullscreen)
  =#render 'video'
  =#image_tag 'video.png'
.marketing.banner.omega
  = image_tag  Banner.where(place: 'bottom_2').first.file.b_385_220.url, class: 'banner'

