.container
  .col-lg-6.marketing
    .panel.panel-primary
      .panel-heading
        =t("marketing1")
      .panel-body
        =t("marketing1_body")
  .col-lg-6.marketing
    .panel.panel-primary
      .panel-heading
        =t("marketing2")
      .panel-body
        =t("marketing2_body")
