.marketing
  =#image_tag 'marketing1.png'
  = image_tag 'banner_greytek.gif'
.marketing
  = image_tag 'video.png'
.marketing.omega
  =#image_tag 'marketing2.png'
  =#image_tag 'banner_site.gif'
  = image_tag 'great_avto.gif'
