.marketing.no-edit
  =#image_tag  Banner.where(place: 'top_1').first.file.b_380_285.url, class: 'banner'
  %iframe(width="380" height="285" src="//www.youtube.com/embed/j7eUrMu3Cjk" frameborder="0" allowfullscreen)
.marketing
  = render 'video'
  =#image_tag 'video.png'
.marketing.omega.no-edit
  =#image_tag  Banner.where(place: 'top_2').first.file.b_380_285.url, class: 'banner'
  %iframe(width="380" height="285" src="//www.youtube.com/embed/_qX6mgv26EA" frameborder="0" allowfullscreen)
