.marketing
  =#image_tag 'marketing1.png'
  =#image_tag 'adv1-77.gif'
  = image_tag  Banner.where(place: 'top_1').first.file.b_335_205.url
.marketing
  = image_tag 'video.png'
.marketing.omega
  =#image_tag 'marketing2.png'
  =#image_tag 'banner_site.gif'
  =#image_tag 'adv2-77.jpg'
  = image_tag  Banner.where(place: 'top_2').first.file.b_335_205.url
