- if car_wash.signal
  %span.green= t('signal_on_map')
  %span.green= car_wash.signal_human.mb_chars.upcase
-else
  %span.green= t('signal_on_map')
  %span.red= car_wash.signal_human.mb_chars.upcase

