= link_to "", url_for('http://vk.com/moika77'), class: 'color_on_hover', id: 'vk', target: '_blank'
= link_to "", url_for('http://www.odnoklassniki.ru/group/52917555626211'), class: 'color_on_hover', id: 'odn', target: '_blank'
