#car_washes_left_list
  #list_header
    %p СПИСОК
    = image_tag 'timer.png'
  %ul#car_wash_list
    -@car_washes.each do |cw|
      %li= link_to cw.title, car_wash_path(cw)

#map_container
  %h3.text-muted.text-center Карта автомоек Москвы
  #map
